<!DOCTYPE html>
<html>
{% include head.html %}
<body>
  <div class="site-wrap">
    {% include header.html %}

    <div class="post p2 p-responsive wrap" role="main">
      <div class="measure">
        {{ content }}
        <br />
        <br />
        <form id="contribute">
          <span>文章标题：</span>
          <input name='title' type='text' maxlength="100" placeholder="100字以内">
          <br />
          <br />
          <span>文章URL：</span>
          <input name='url' type='text' maxlength="100" placeholder="256字以内">
          <br />
          <br />
          <span>推荐理由：</span>
          <textarea name='content' rows='15' cols='60' maxlength="512" value='' placeholder='请填写为什么推荐这篇文章或者该文章的简介，512字内'></textarea>
          <br />
          <br />
          <span>关键词：</span>
          <input name='keywords' type='text' maxlength="100" placeholder="比如Javascript, 响应式。多个用逗号隔开">
          <br />
          <br />
          <span>您的名字：</span>
          <input name='name' type='text' maxlength="100" >
          <br />
          <br />
          <button type="submit">提交</button>
        </form>
      </div>
    </div>
  </div>

  {% include footer.html %}
  <script type="text/javascript">
    var sending =false;
    function sendMessageFeishu(info) {
      $.post('https://open.feishu.cn/open-apis/bot/v2/hook/4b549669-7004-4886-a6c9-d454c3e4c69f', {
        "config": {
          "wide_screen_mode": true
        },
        "header": {
          "title": {
            "tag": "plain_text",
            "content": "你有一个新的内容推荐待审批"
          }
        },
        "elements": [
          {
            "tag": "div",
            "fields": [
              {
                "is_short": true,
                "text": {
                  "tag": "lark_md",
                  "content": "**推荐人：**\n" + info.name
                }
              },
              {
                "is_short": true,
                "text": {
                  "tag": "lark_md",
                  "content": "**关键词：**\n" + info.keywords
                }
              },
              {
                "is_short": false,
                "text": {
                  "tag": "lark_md",
                  "content": ""
                }
              },
              {
                "is_short": false,
                "text": {
                  "tag": "lark_md",
                  "content": "**文章标题：**\n" + info.title
                }
              },
              {
                "is_short": false,
                "text": {
                  "tag": "lark_md",
                  "content": ""
                }
              },
              {
                "is_short": true,
                "text": {
                  "tag": "lark_md",
                  "content": "**推荐理由：**\n" + info.content
                }
              }
            ]
          },
          {
            "tag": "hr"
          },
          {
            "tag": "action",
            "layout": "bisected",
            "actions": [
              {
                "tag": "button",
                "text": {
                  "content": "原文",
                  "tag": "plain_text"
                },
                "type": "primary",
                "url": info.url
              },
              {
                "tag": "button",
                "text": {
                  "tag": "plain_text",
                  "content": "通过"
                },
                "type": "primary",
                "value": {
                  "chosen": "approve"
                }
              },
              {
                "tag": "button",
                "text": {
                  "tag": "plain_text",
                  "content": "拒绝"
                },
                "type": "primary",
                "value": {
                  "chosen": "decline"
                }
              }
            ]
           }
          ]
      }).then((res) => {
        alert("提交成功");
        sending = false;
      },  (error) => {
        sending = false;
        console.log(error);
      });
    }

    $("#contribute").submit(function(e){
      e.preventDefault();
      var serializeArray = $(this).serializeArray();
      if(serializeArray.find(item => item.value.trim() === '') || sending) {
        return false;
      }
      var info = {};
      serializeArray.forEach(({name, value}) => {
        info[name] = value;
      })
      sending = true;
      sendMessageFeishu(info);
    });
</script>
</body>
</html>