<!DOCTYPE html>
<html>
{% include head.html %}
<body>
  <div class="site-wrap center">
    {% include header.html %}

    <div class="post p2 p-responsive wrap" role="main">
      <div class="measure">
        {{ content }}
        <br />
        <br />
        <br />
        <form name='sendmail' action='mailto:zhoumy@xueqiu.com'>
          <input name='subject' type='text' value='订阅前端月刊' disabled>
          <span>留言：</span><input name='body' type='text' value=''>
          <button type="submit">订阅</button>
        </form>
      </div>
    </div>
  </div>

  {% include footer.html %}
</body>
</html>